{% extends "auctions/layout.html" %}

{% block body %}

  <div class="col-sm-6" name="frm-listing">
    <div class="card">
      <div class="card-header">
        <h5></h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form action="{% url 'createListing' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="title">Enter Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" maxlength="64" required>
              </div>
              <div class="form-group">
                <label for="description">Enter Description</label>
                <textarea name="description" id="description" rows="3" class="form-control" maxlength="500"></textarea>
              </div>
              <div class="form-group">
                <label for="category">Enter Category</label>
                <select name="category" id="category" class="form-control" required>
                  <option selected>Choose Category</option>
                  {% for Category in categories %}
                    <option value="{{ Category }}">{{ Category }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="price">Enter Price</label>
                <input type="number" class="form-control" id="price" name="price" min="0.0" required>
              </div>
              <div class="form-group">
                <label for="image">Enter Image</label>
                <input type="text" class="form-control" id="image" name="image">
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-success form-control" id="btn-sussForm">Create Listing</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}