{% extends "auctions/layout.html" %}


{% block body %}
 <!-- <div class="row row-cols-4"> -->
      <div class="card-columns">
        {% for listing in listings %}
              <div class="card">
                  <img class="card-img-top" id="img-ind" src="{{ listing.image }}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p id="description" class="card-text">{{listing.description}}.</p>
                  </div>
                  <div class="card-footer">
                    <a href="{% url 'listing' listing_id=listing.id %}">
                      <button type="submit" class="btn btn-success"> Details</button>
                  </a>
                  </div>
                </div>
          {% endfor %}
        </div>
    <!-- </div> -->
{% endblock %}