{% extends "auctions/layout.html" %}
  {% block body %}
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Details: <strong>{{ listing.title }}</strong> </h5>
          </div>
          <div class="card-body">
            {% if message %}
              <div id="ms-alert">
                {% if updated %}
                  <div class="ms-alr-up">
                    <div class="alert alert-info" role="alert">
                      {{ message }}
                    </div>
                  </div>
                {% else %}
                  <div class="ms-alr">
                    <div class="alert alert-danger" role="alert">
                      {{ message }}
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endif %}
            {% if not listing.isActive and user == listing.price.user %}
              <div class="ms-alr-won">
                <div class="alert alert-success" role="alert">
                  Congratulations.!! You won the auction.
                </div>
              </div>
            {% endif %}
            {% if user.is_authenticated and listing.isActive %}
              {% if isOwner %}
                <div id="close-Auction">
                  <form action="{% url 'closeAuctions' listing_id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger form-inline">Close Auction</button>
                  </form>
                </div>
              {% endif %}
              {% if isWatchList %}
                <div id="remove-Watch">
                  <form action="{% url 'removeWatchList' listing_id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Remove from WatchList</button>
                  </form>
                </div>
              {% else %}
                <div id="add-Watch">
                  <form action="{% url 'addWatchList' listing_id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-warning">Add to WatchList</button>
                  </form>
                </div>
              {% endif %}
            {% endif %}
            <hr>
            <div class="row">
              <div class="col-md-6">
                <img src="{{ listing.image }} " alt=" {{ listing.title }" class="img-fluid">
              </div>
              <div class="col-md-6">
                <aside> {{ listing.description }} </aside>
                <hr>
                <h5>Price: <strong>$ {{ listing.price }} </strong></h5>
                <p><h6>Owner: <strong> {{ listing.owner }} </strong> </h6></p>
                <div class="col-md-6">
                  {% if user.is_authenticated %}
                    <form action=" {% url 'addBid' listing_id=listing.id %} " method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <input type="number" class="form-control" id="newBid" name="newBid" min="0.0" placeholder="New Bid" required>
                      </div>
                      <button type="submit" class="btn btn-outline-success">Add Bid</button>
                    </form>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-6">
                <hr>
                {% if user.is_authenticated %}
                  <h5>Add Comments: </h5>
                  <form action=" {% url 'addComment' listing_id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <textarea name="comment" id="comment" class="form-control" rows="4" placeholder="Leave a Comment here..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-info">Add Comment</button>
                  </form>
                {% endif %}
              </div>
              <div class="col-md-6">
                <hr>
                <h5> Comments: </h5>
                <ul class="list-group">
                  {% for comment in allComments %}
                    <div class="list-group-item mb-3">
                      <li class="list-group-item"> {{ comment.comment }} </li>
                      <div class="list-inline-item">
                        <h6>Posted by <strong> {{ comment.user }} </strong></h6>
                      </div>
                    </div>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endblock %}